/*----- GENERAL -----*/

     header, footer, section, article, nav, aside {
        display: block;
     }

     body {
        background: #ffffff;
        color: #222;
       
        font: normal medium 'Gill Sans','Gill Sans MT','Goudy Bookletter 1911','Linux Libertine O','Liberation Serif',Candara,serif;
    /*font: normal medium 'Gill Sans','Gill Sans MT',Candara, Helvetica, sans-serif;*/
        /*padding-top: 25px;*/
        text-align: center;
        margin: 0 5px;
     }

     #container {
        margin: 0 auto;
        max-width:40em;
     }
     
     h1, h2, h3, hQ {        
        font-family: "Bookman Old Style","Palatino","Garamond","Georgia";
        font-weight: normal;

     }

     h1 {
        font-size: 50px;
        line-height: 50px;
     }

     h2 {
        font-size: 31px;
        line-height: 37px;
     }

     h3 {
        font-size: 21px;
        line-height: 27px;
     }

     a:link, a:visited {
        color: #222222;      
        text-decoration: none;
     }

     a:hover, a:active {
        text-decoration: underline;
     }

     hr{
        border:0 #ccc solid;
        border-top-width:1px;
        clear:both;
        height:0;
     }

     ol{list-style:decimal}

     ul{list-style:disc}

     li{margin-left:30px}

     p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset{margin-bottom:15px}

     #main {
        padding: 0px;
     }

     /*----- HEADER SECTION -----*/


     #headerSection {
        margin-bottom: 0px;
     }

     #headerSection h1 {
        margin-bottom: 0;
     }

     #headerSection h1 a:link, #headerSection h1 a:visited {
        text-transform: Uppercase;
        color: #222;
        text-decoration: none;
     }

     #headerSection h1 a:active {
        outline: 0;
     }

     #headerSection p {
        font-family: Georgia, serif;
        font-size: 20px;
        color: #fff;
        margin-bottom: 0;
     }

     #headerSection a:link, #headerSection a:visited {
        color: #fff;
     }


     /*----- MAIN HEADER NAV STRIP -----*/

     #mainNav {
        border-top: 1px solid #222;
        border-bottom: 2px solid #222;
        margin-top: 20px;
        padding: 15px;
        font-family: "Bookman Old Style","Palatino","Garamond","Georgia";

     }

     #mainNav ul {
        list-style: none;
        margin: 0;
        padding: 0;
     }

     #mainNav li {
        margin: 5px;
        display: inline;
        padding: 0;
     }

     #mainNav a:link, #mainNav a:visited {
        padding: 0;
        font-size: 14px;
        line-height: 14px;
        margin: 0 2px;
        text-decoration: none;
        color: #222;
        text-transform: Uppercase;
        /*border-bottom: 1px dotted #222;*/
     }

     #mainNav a:hover, #mainNav a:active {
        outline: none;
        text-decoration: none;
        border-bottom: 1px solid #222;
     }

     #mainNav a.active {
        text-decoration: none;
        border-bottom: 1px solid #222;
     }


/*----- ARTICLE HTML5 TAG-----*/

     article {
        background: #fff;
        margin-bottom: 20px;
        text-align: left;
       position: relative;
      }

     article img {
        border: none;
        margin-bottom: 15px;
        max-width: 500px;
     }

     article p img {
        margin: 0;
     }
     article > div {
        padding: 0px;
        overflow: hidden;
     }

     article h2 {
        text-align: center;
        color: #222222;
     }

     article h2 a:link, article h2 a:visited {
        text-transform: Uppercase;
        color: #222;
        text-decoration: none;
     }

     article h2 a:hover, article h2 a:active {
        text-decoration: none;
        border-bottom: 1px solid #222;
     }


     #languages h2 {
         font-size: medium;
         font-weight: bold;
        
}
     #languages #motherTongue {
         width: 33%;
         position: relative;
         float: left;
         border-right: 1px dotted #222;
         
    }
    #languages #fatherTongue {
         width: 33%;
         position: relative;
         float: left;
         border-right: 1px dotted #222;        
    }
    
    #languages #foreignTongue {
         width: 33%;
         position: relative;
         float: left; 
    }

    #languages #language {
        margin: 0 auto;
        width: 100%;
        text-align: center;
        min-height: 37px;
}
     /*----- FOOTER SECTION -----*/

     #footerSection {
        border-top: 2px solid #222;
        color: #222;
        padding: 20px 0 32px 0;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 11px;
     }

     #footerSection p {
        margin: 0;
     }

     #footerSection a:link, #footerSection a:visited {
        color: #222;
        font-weight: bold;
     }
     
     /*----- PROJECTS PAGE -----*/
     div.project_section {
        margin: 1.75em 0;     
    }
  
  div.project_section .project iframe {
    width:420px;
    height:315px;
  }
  
  div.project_section .project img {
    border: 1px #ccc solid;
    width:420px;
  }
  

     
     /*----- CONTACT SECTION -----*/
     div.boxes {
        display: block;
        padding-top: 20px;
     }
     .form_box {
        float: left;
        position: relative;
        display: block;
       /* padding-right: 28px;*/
        border-right-width: 1px;
        border-right-style: dashed;
        width: 65%;
        margin-right: 5%;
        border-right-color: #222;
    }
     
     div.row {
        clear: both;
        padding-bottom: 0px;
        margin: 0px;
    }
    
    div.row span.label {
        float: left;
        width: 18%;
        text-align: right;
        padding: 0px;
        margin: 0px;
        padding-top: 15px;
        padding-left:2%;
    color: #888;
    }
    
    label {
        display: block;
        float: left;
        padding-right: 2%;
        text-align: left;
    }
    
    div.row span.form_field {
        float: right;
        width: 80%;
        text-align: left;
        padding-top: 15px;
    }
    
    div.row span.form_field input{
        width: 90%;
    }
    
    div.row span.form_field input#send_button{
        width: 100%;
    }
    
    div.row span.form_field textarea{
        width: 90%;
        height: 60px;
    }
    
    div.row span.button {
        float: left;
        text-align: left;
        padding: 0px;
        margin: 0px;
        width:25%;
    }
    
    div.row span.button input{
        background: #222;
        color:white;
        border: none;
        font-size: 1.2em;
        /*padding: 8px;        
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;*/
        -moz-border-radius: 0.3em;
        -webkit-border-radius: 0.3em;
        border-radius: 0.3em;        
        padding: 0.3em;        
        cursor:pointer;
        -webkit-appearance: none;
    }
    
    div.row span.button input:hover{
        background: #333;
    }
    
    .contact_box {
        float: left;        
        width: 30%;
        position: relative;
        display: block;
        margin-left:-2px;
    }
    
    .contact_box img {
        width:100%;
    }

